
/* Your CSS Code here. */
.holder{
	display:flex;
	width:100px;
	height:100px;
}
.item-1{
	display:flex;
	justify-content:space between;
	height:100px;
	width:100px;
	background:red;
	align-items:center;
}